# ETL for Churn Prediction

#### Extract, transform, load

### Import Library and Packages

In [1]:
import pandas as pd
import numpy as np

### About the Data

####  The data was obtained from Kaggle: https://www.kaggle.com/sakshigoyal7/credit-card-customers

#### Column Name:
<ol> 
<li> CLIENTNUM = Client number. Unique identifier for the customer holding the account
    
<li> Attrition_Flag = Internal event (customer activity) variable - if the account is closed then 1 else 0 (THIS IS THE TARGET PARAMETER)
    
<li> Customer_Age
<li> Gender = Demographic variable - M=Male, F=Female
    
<li> Dependent_count = Demographic variable - Number of dependents
    
<li> Education_Level
    
<li> Marital_Status
<li> Income_Category = Demographic variable - Annual Income Category of the account holder (< $40K, $40K - 60K, $60K-$80K, $80K-$120K, > $120K, Unknown)
<li> Card_Category = Product Variable - Type of Card (Blue, Silver, Gold, Platinum)
<li> Months_on_book = Period of relationship with bank
<li> Total_Relationship_Count = Total no. of products held by the customer
<li> Months_Inactive_12_mon = No. of months inactive in the last 12 months

<li> Contacts_Count_12_mon = No. of Contacts in the last 12 months
<li> Credit_Limit
<li> Total_Revolving_Bal = Total Revolving Balance on the Credit Card
<li> Avg_Open_To_Buy = Open to Buy Credit Line (Average of last 12 months)
<li> Total_Amt_Chng_Q4_Q1 = Change in Transaction Amount (Q4 over Q1)
<li> Total_Trans_Amt = Total Transaction Amount (Last 12 months)
<li> Total_Trans_Ct = Total Transaction Count (Last 12 months)
<li> Total_Ct_Chng_Q4_Q1 = Change in Transaction Count (Q4 over Q1)
<li> Avg_Utilization_Ratio = Average Card Utilization Ratio

</ol>

###  The data was obtained from Kaggle

In [2]:
# df = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/advancedmachinelearning-donotdelete-pr-gwymm5mokoi4ul/BankChurners.csv?response-content-disposition=attachment%3B%20filename%3D%22BankChurners.csv%22&response-content-type=text%2Fcsv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20210102T064653Z&X-Amz-SignedHeaders=host&X-Amz-Expires=86400&X-Amz-Credential=79adca77db544af38212e98c2514ff57%2F20210102%2Fus-geo%2Fs3%2Faws4_request&X-Amz-Signature=b4fd26b6c8c763de65ca390b133ab4b9b4e681879095475972728626b2701844')
# df.head(3)

In [3]:
# df.to_csv('ChurnData.csv',index=False)

df = pd.read_csv('ChurnData.csv')

In [4]:
# df.info()

It can be seen from the df.info that the data are consisted of 22 columns, where all parameters have all type that supposed to.
In this case, the CLIENTNUM and the last two columns are not important, therefore they are deleted.

In [5]:
df.drop(columns=df.columns[-2:], inplace=True)
df.drop('CLIENTNUM',axis=1,inplace=True)

#### Checking the columns info again:

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  object
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  object
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  object
 5   Marital_Status            10127 non-null  object
 6   Income_Category           10127 non-null  object
 7   Card_Category             10127 non-null  object
 8   Months_on_book            10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Months_Inactive_12_mon    10127 non-null  int64
 11  Contacts_Count_12_mon     10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Trans_Amt           10127 non-null  int64
 17  Total_Trans_Ct            10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.5+ MB

### Lets collect all the Categorical data, which means excluding the integer and float

In [7]:
categorical=df.select_dtypes(exclude=['int64','float64']).columns
categorical

Index(['Attrition_Flag', 'Gender', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category'],
      dtype='object')

###  It would be good to check whether this categorical data has no error in value, check it with following code:

In [8]:
for category in categorical:
    print(df[category].value_counts(),'\n')

Existing Customer    8500
Attrited Customer    1627
Name: Attrition_Flag, dtype: int64

F    5358
M    4769
Name: Gender, dtype: int64

Graduate         3128
High School      2013
Unknown          1519
Uneducated       1487
College          1013
Post-Graduate     516
Doctorate         451
Name: Education_Level, dtype: int64

Married     4687
Single      3943
Unknown      749
Divorced     748
Name: Marital_Status, dtype: int64

Less than $40K    3561
$40K - $60K       1790
$80K - $120K      1535
$60K - $80K       1402
Unknown           1112
$120K +            727
Name: Income_Category, dtype: int64

Blue        9436
Silver       555
Gold         116
Platinum      20
Name: Card_Category, dtype: int64

It can be seen that there is no mistake in the values in the columns. Next lets see whether there is no null value

In [10]:
df[df.notna().any(axis=1)].count()

Attrition_Flag              10127
Customer_Age                10127
Gender                      10127
Dependent_count             10127
Education_Level             10127
Marital_Status              10127
Income_Category             10127
Card_Category               10127
Months_on_book              10127
Total_Relationship_Count    10127
Months_Inactive_12_mon      10127
Contacts_Count_12_mon       10127
Credit_Limit                10127
Total_Revolving_Bal         10127
Avg_Open_To_Buy             10127
Total_Amt_Chng_Q4_Q1        10127
Total_Trans_Amt             10127
Total_Trans_Ct              10127
Total_Ct_Chng_Q4_Q1         10127
Avg_Utilization_Ratio       10127
dtype: int64

It can also be seen that theres is no columns or row with NaN value, which is awesome, this data is basically ready to go.

### Create new dataframe for from df

In [11]:
df_churn = df.copy()
df_churn.head(2)

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105

#### Lets factorize all categorical data:

In [13]:
for i in categorical:
    df_churn[i]=pd.factorize(df_churn[i])[0]
df_churn.head(4)

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,0,45,0,3,0,0,0,0,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,0,49,1,5,1,1,1,0,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,0,51,0,3,1,0,2,0,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,0,40,1,4,0,2,1,0,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760

In [14]:
df_churn.to_csv('df_churn.csv', index=False)

#### Its better to keep in track the factor number and its values

In [15]:
catal = {}
for category in categorical:
    catal[category] = pd.DataFrame(list(zip(df_churn[category].value_counts().index, df[category].value_counts().index)))

In [16]:
# The catal is to inform us about the variable that has been factorized
catal

{'Attrition_Flag':    0                  1
 0  0  Existing Customer
 1  1  Attrited Customer,
 'Gender':    0  1
 0  1  F
 1  0  M,
 'Education_Level':    0              1
 0  1       Graduate
 1  0    High School
 2  3        Unknown
 3  2     Uneducated
 4  4        College
 5  5  Post-Graduate
 6  6      Doctorate,
 'Marital_Status':    0         1
 0  0   Married
 1  1    Single
 2  2   Unknown
 3  3  Divorced,
 'Income_Category':    0               1
 0  1  Less than $40K
 1  3     $40K - $60K
 2  2    $80K - $120K
 3  0     $60K - $80K
 4  5         Unknown
 5  4         $120K +,
 'Card_Category':    0         1
 0  0      Blue
 1  2    Silver
 2  1      Gold
 3  3  Platinum}

## Create training and test datasets from df_churn

### X is all the 19 columns except Attrition_Flag, where the y is the Attrition_Flag

In [17]:
X = df_churn.drop('Attrition_Flag', axis = 1).values

y = df_churn['Attrition_Flag'].values

In [18]:
from numpy import asarray
from numpy import save

# save the X and y arrays 

save('X.npy', X)
save('y.npy', y)

### Train Test Split

In [19]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

#### Take 80% for Trains data and 20 for Test and 

#### Then the X_trains and y_trains will be divided into train and validation

In [20]:
print(int(0.8*len(df_churn)), "rows will be used as training")

8101 rows will be used as training

#### Unscaled

In [21]:
X_trains, X_test, y_trains, y_test = train_test_split(X, y, test_size=0.2, random_state=20, shuffle=True)

In [22]:
X_train, X_val, y_train, y_val = train_test_split(X_trains, y_trains, test_size=0.2, random_state=20, shuffle=True)

#### Scaled

In [24]:
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [25]:
X_trains_scaled, X_test_scaled, y_trains_scaled, y_test_scaled = train_test_split(X_scaled, y, test_size=0.2, random_state=20, shuffle=True)

In [26]:
X_train_scaled, X_val_scaled, y_train_scaled, y_val_scaled = train_test_split(X_trains_scaled, y_trains_scaled, test_size=0.2, random_state=20, shuffle=True)

Note that the y%scaled are not actually scaled, its just for labelling to make it matched with the corresponding X

#### Show the shape

In [27]:
print(X_train.shape, 'and', y_train.shape,'and', X_val.shape, 'and', y_val.shape)

(6480, 19) and (6480,) and (1621, 19) and (1621,)

### Get Scaled train and test from X

## Save data to npy format

In [28]:
# # save numpy array as npy file
# from numpy import asarray
# from numpy import save

### I save them in numpy format, so it can be loaded for later

In [29]:
#Unscaled for ML
save('X_train.npy', X_train)
save('X_test.npy', X_test)
save('y_train.npy', y_train)
save('y_test.npy', y_test)
save('X_val.npy', X_val)
save('y_val.npy', y_val)


#Scaled for the Neural Network
save('X_train_scaled.npy', X_train_scaled)
save('X_test_scaled.npy', X_test_scaled)
save('y_train_scaled.npy', y_train_scaled)
save('y_test_scaled.npy', y_test_scaled)
save('X_val_scaled.npy', X_val_scaled)
save('y_val_scaled.npy', y_val_scaled)

In [30]:
X_train_scaled == X_train

array([[False,  True, False, ..., False, False, False],
       [False,  True, False, ..., False, False, False],
       [False,  True, False, ..., False, False,  True],
       ...,
       [False,  True, False, ..., False, False, False],
       [False,  True, False, ..., False, False, False],
       [False,  True, False, ..., False, False, False]])